body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.goToTop img {
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 50px;
    z-index: 200;
    opacity: 0.5;
}

.wrapper {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left:  50px;
}

.centered-container {
    text-align: center;
}

.btn {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 25px;
    padding: 15px;
    font-family: 'Poiret One', cursive;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 100px;
    font-weight: bolder;
}

.con-title {
    text-align: center;
    border-bottom: 3px solid rgba(165, 0, 91, 0.432);
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poiret One', cursive;
    color: rgb(165, 0, 91);
    width: 500px;
    word-wrap: break-word;
}

.simpleP {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(66, 0, 36);
    font-size: 18px;
    width: 100%;
    margin: 10px;
}

.p-left {
    text-align: left;
}

.p-right {
    text-align: right;
}

.p-border {
    border-left: 3px solid rgba(165, 0, 91, 0.938);
    padding: 10px 20px;
    width: 92%;
}

.p-title {
    color: rgb(165, 0, 91);
    font-family: 'Poiret One', cursive;
}

.simple-list {
    width: 80%;
    list-style-type: circle;
    color: rgb(165, 0, 91);
}

.simple-list li {
    color: rgba(80, 0, 44, 0.938);
    font-size: 16px;
}


/* HEADER */

header {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    text-align: center;
    height: 60px;
    position: fixed;
    transition: all 0.5s;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}

nav li {
    display: inline-block;
    padding: 0 20px;
    margin-top: 16px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.795);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;

}

nav a:hover {
    color: white;
}

.headerBackground {
    background-image: url("heading.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.headerText {
    padding: 200px 20px 0px 20px;
    text-align: center;
}

.headerText h1 {
    font-family: 'Poiret One', cursive;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bolder;
    opacity: 0.8;
}

.headerText a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 25px;
    padding: 15px;
    font-family: 'Poiret One', cursive;
    transition: 0.5s;
    /* box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.658); */
    letter-spacing: 1px;
    border-radius: 100px;
    font-weight: bolder;
}

.headerText a:hover {
    color: white;
    border-color: rgba(255, 255, 255);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.363);
}

.navbar-fixed-top.scrolled {
    background-color: rgb(165, 0, 91) !important;
    transition: all 1s;
    z-index: 100;
    /* background-image: url("heading.jpg") !important; */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SIMPLE CARD */

.card {
    width: 300px;
    height: 400px;
    background-color: rgb(2, 85, 158);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.3s;
    display: inline-block;
    margin: 24px;
}

.card p {
    margin: auto;
    width: 250px;
    padding-top: 1110px;
    transition: all 2s;
}


.card:hover .cardImg {
    transform: scale(1.08);
    transition: all 0.3s;
    font-family: 'Poiret One', cursive;
}

.card p {
    margin: auto;
    width: 250px;
    padding-top: 1110px;
    transition: all 2s;
}

.card:hover p {
    padding-top: 60%;
    transition: 0.3s;
    color: white;
    font-family: 'Poiret One', cursive;
    margin-bottom: 40px;
}

.cardBtn {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.7);
    font-size: 13px;
    padding: 15px;
    font-family: 'Poiret One', cursive;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 100px;
    font-weight: bolder;
}

.cardBtn:hover {
    color: white;
    border-color: rgba(255, 255, 255);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.363);
}

/* CARD WITH TEXT ON BOTTOM */

.cardBottomText {
    height: 100%;
    width: 350px;
    display: inline-block;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.144);
    margin: 30px;
    opacity: 0.9;
    transition: 0.3s;
}

.cardBottomText h1 {
    width: 80%;
    float: left;
    color: #7F8C8D;
    font-weight: 300;
    font-size: 1.4em;
    margin: 0 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    text-align: left;
    padding: 10px 20px;
    font-family: 'Poiret One', cursive;
}

.cardBottomText p {
    display: inline-block;
    color: rgb(127, 140, 141);
    padding: 0 15px;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.cardBottomText:hover {
    opacity: 1;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.363);
    transition: 0.3s;
}

.customers {
    width: 100%;
    height: 500px;
    background-image: url('heading.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.customerReview {
    color: white;
    font-family: 'Poiret One', cursive;
    border-bottom: 2px solid white;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-weight: bolder;
}

.customerCard {
    width: 200px;
    height: 370px;
    display: inline-block;
    margin: 0 50px;
    border-radius: 14px;
    transition: all 0.5s;
    color: rgb(204, 204, 204);
    opacity: 0.9;
}



.customersImg {
    width: 100%;
    height: 200px;
    border-radius: 14px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

}

.customerCard h1 {
    margin: 0px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.74);
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    padding: 5px;
    font-weight: bolder;
}

.customerCard p {
    margin: 0;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}

.customerCard:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.356);
}



/* FOOTER CSS */

footer {
    width: 100%;
    background-image: url('heading.jpg');
    background-position: bottom;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

#upper {
    height: 220px;
    background-color: rgb(39, 39, 39) !important;
    opacity: 0.5;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#upper img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

#upper ul {
    padding: 0;
}

#upper ul li {
    text-align: center;
    list-style: none;
    display: inline;
    margin: 0 5px;
}

#upper p {
    margin: 0;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
}

#upper a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}


#foot a {
    font-size: 13px;
    border-left: 2px solid white;
    letter-spacing: 2px;
    padding: 0 15px;
    transition: 0.3s;
}

#foot a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

#down {
    height: 70px;
    background-color: rgba(139, 15, 32, 0.945) !important;
    opacity: 0.9;
}

#down {
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#down h3,
a {
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    margin: 0;
}

#down a {
    padding: 3px 10px;
    transition: 0.4s;
    border-radius: 1000px;
    background-color: rgb(90, 12, 22);
    white-space: nowrap;
    line-height: 40px;
}

#down a:hover {
    background-color: white;
    transition: 0.4s;
    color: rgb(39, 39, 39);
}